#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
!*.vhdl
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

vitis*/
vitis/
vitis1/
vitis_tx/
vitis_rx/

# 忽略 DDR 相关示例工程目录
# ddr4_0_ex/

# 日志文件
# *.jou
#########
#system verilog - files
#########
!*.sv

# 取消忽略 import 目录
!ddr4_0_ex/import/
!ddr4_0_ex/import/**






#########
# Vivado project: track sources / ignore outputs
#########

# 放行工程入口
!project_1/*.xpr
!project_1/*.tcl

# 放行 sources/constraints（源码、约束、BD、IP 定义通常都在这里）
!project_1/project_1.srcs/**
!project_1/project_1.srcs/**/**.xdc
!project_1/project_1.srcs/**/**.xci
!project_1/project_1.srcs/**/**.bd
!project_1/project_1.srcs/**/**.tcl

# 明确忽略 Vivado 生成目录（避免误提交巨大垃圾）
project_1/project_1.cache/
project_1/project_1.gen/
project_1/project_1.runs/
project_1/project_1.hw/
project_1/project_1.sim/
project_1/project_1.ip_user_files/

# 通常不提交的产物（很大/可再生）
project_1/*.xsa
project_1/*.bit
*.log
*.jou
*.dmp
*.wdf
*.wpc






